<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Yaş giriniz</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Yaş giriniz">
</div>
<div *ngIf="filterText" class="alert alert-success">
{{filterText}} aradınız.    
</div>
<div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded!=false" class="table">
    <thead>
        <tr>
            <th>Ad Soyad</th>
            <th>Cinsiyet</th>
            <th>Yaş</th>
            <th>Öğrenim Durumu</th>
            <th>İl</th>
            <th>İlçe</th>
            <th>Askerlik Durumu</th>
        </tr>
    </thead>
    <tr *ngFor="let person of persons">
        <td>{{person.nameSurname}}</td>
        <td>{{person.gender}}</td>
        <td>{{person.age}}</td>
        <td>{{person.educationStatus}}</td>
        <td>{{person.city}}</td>
        <td>{{person.district}}</td>
        <td>{{person.militaryStatus}}</td>
    </tr>

</table>
