<div class="mb-3" style="display: flex; flex-direction:'row'    ">
    <input type="text" [(ngModel)]="age"  class="form-control" id="age" placeholder="Yaş giriniz">
    <input type="text" [(ngModel)]="gender"  class="form-control" id="gender" placeholder="Cinsiyet giriniz">
    <input type="text" [(ngModel)]="educationStatus"  class="form-control" id="educationStatus" placeholder="Eğitim giriniz">
</div>
<button type="button" (click)="getPersons()" class="btn btn-warning">Ara</button>
<div *ngIf="age" class="alert alert-success">
{{age}} aradınız.    
</div>
<div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded!=false" class="table">
    <thead>
        <tr>
            <th>Ad Soyad</th>
            <th>Cinsiyet</th>
            <th>Yaş</th>
            <th>Öğrenim Durumu</th>
            <th>İl</th>
            <th>İlçe</th>
            <th>Askerlik Durumu</th>
        </tr>
    </thead>
    <tr *ngFor="let person of persons">
        <td>{{person.nameSurname}}</td>
        <td>{{person.gender}}</td>
        <td>{{person.age}}</td>
        <td>{{person.educationStatus}}</td>
        <td>{{person.city}}</td>
        <td>{{person.district}}</td>
        <td>{{person.militaryStatus}}</td>
    </tr>

</table>
